@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     <div className="modal-body">
     
                            <label for="fname">Username: </label>
                            <input
                                type="text"                            
                            />
                            <br></br>
                            <br></br>
                            <label for="fname">Rank: </label>
                            <input
                                type="text"
                                
                                onChange={handleChangeNick}
                            />
                            <br></br>
                            <br></br>
                            <label for="fname">Feedback: </label>
                            <input
                                type="number"
                              
                                onChange={handleChangeServer}
                            />
                            <br></br>
                            <button> Submit Rank</button>
                        </div>
}
